node_modules/
.expo/
dist/
web-build/

# Native
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env
.env
.env.*.local

# TypeScript
expo-env.d.ts

# EAS
.easignore
